<div class="secondhead">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#">Facebook</a>
        </li>
        <li><a href="#">Google+</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Twitter</a></li>
    </ul>
</div>
<div class="content">
<table>
    <tbody>
        <tr>
            <td><input type="checkbox"/></td>
            <td><img width="30px" height="30px" src="images/user.png"></img></td>
            <td style="text-align: left;">Bob Carter</td>
            <td>&nbsp;:&nbsp;</td>
            <td style="text-align: left;"><a href="#">Doddle Page</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="3">
                <img src="images/fbpost-1.png"></img>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox"/></td>
            <td><img width="30px" height="30px" src="images/user.png"></img></td>
            <td style="text-align: left;">Jeff Martin</td>
            <td>&nbsp;:&nbsp;</td>
            <td style="text-align: left;"><a href="#">ChromeBook Pixel</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="3">
                <img src="images/fbpost-2.png"></img>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox"/></td>
            <td><img width="30px" height="30px" src="images/user.png"></img></td>
            <td style="text-align: left;">Rohit Ghatol</td>
            <td>&nbsp;:&nbsp;</td>
            <td style="text-align: left;"><a href="#">Synerzip Webinar</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="3">
                <img src="images/fbpost-3.png"></img>
            </td>
        </tr>

    </tbody>
</table>
</div>