<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="components/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="components/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="components/bootstrap/docs/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="components/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="components/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="components/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="components/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="components/bootstrap/docs/assets/ico/favicon.png">
</head>

<body>

<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="feedbox.html">FeedBox</a></li>
            <li class="active"><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="#login" data-toggle="modal">Login</a></li>
            <li><a href="#signup" data-toggle="modal">Sign Up</a></li>

        </ul>
        <h3 class="muted"><a href="index.html">SaneFeed</a></h3>
    </div>

    <hr>

    <div class="jumbotron">
        <h2>About us</h2>
        <p class="lead">SaneFeed is an Next Gen platform for Social Aggregation, Filtering, Campaigning</p>

    </div>

    <hr>
    <div class="flex-video">
        <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/ntecBgwlsGA" allowfullscreen frameborder="0">
        </iframe>
    </div>

    <hr>





    <div class="footer">
        <p>&copy; SaneFeed 2013</p>
    </div>

</div> <!-- /container -->

<!-- Modal -->
<div id="signup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sign Up</h3>
    </div>
    <div class="modal-body">
        <form class="form-signin">
            <input type="text" class="input-block-level" placeholder="First Name">
            <input type="text" class="input-block-level" placeholder="Last Name">
            <input type="text" class="input-block-level" placeholder="Email address">
            <input type="password" class="input-block-level" placeholder="Password">
            <input type="password" class="input-block-level" placeholder="Repeat Password">
            <button class="btn btn-large btn-primary" type="submit">Sign up</button>
        </form>
        <p class="lead">Already have Account. <a href="#login" data-toggle="modal" onclick="$('#signup').modal('hide')">Log in</a></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

    </div>
</div>


<!-- Modal -->
<div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="loginLabel">Login</h3>
    </div>
    <div class="modal-body">

        <form class="form-signin">
            <input type="text" class="input-block-level" placeholder="Email address"/>
            <input type="password" class="input-block-level" placeholder="Password"/>

            <button class="btn btn-large btn-primary" type="submit">Login</button>

        </form>
        <div class="row-fluid">
            <div class="span3 offset2"><p class="lead">Login with </p></div>
            <div class="span1">
                <a href="#"><img src="images/facebook-login.png"></img></a>
            </div>
            <div class="span1">
                <a href="#"><img src="images/google-login.png"></img></a>
            </div>
            <div class="span1">
                <a href="#"><img src="images/linkedin-login.png"></img></a>
            </div>
            <div class="span1">
                <a href="#"><img src="images/twitter-login.png"></img></a>
            </div>

        </div>
        <hr></hr>
        <p class="lead">If you have not signed up, proceed to <a href="#signup" data-toggle="modal" onclick="$('#login').modal('hide')">Sign up</a> Page</a></p>


</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

</div>
</div>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="components/bootstrap/docs/assets/js/jquery.js"></script>
<script src="components/bootstrap/docs/assets/js/bootstrap.min.js"></script>

<script src="components/bootstrap/docs/assets/js/holder/holder.js"></script>

<script src="js/ga.js" type="text/javascript"></script>
</body>
</html>
